# Private keys
*.key
*.pem
*.priv
private.*

# Node
node_modules/
package-lock.json

# Tauri
src-tauri/target/
src-tauri/Cargo.lock

# Build outputs
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
